.place {
	background: #f8f7f3;
	min-height: 100vh;
	width: 450px;
	border-radius: 20px;
	padding-bottom: 20px;
}
.place-box {
	padding-top: 65px;
	padding-left: 65px;
}
.svg1 svg {
	width: 40px;
	height: 40px;
}
.place h2 {
	font-size: 48px;
	padding-top: 90px;
	margin-bottom: 20px;
}
.places {
	padding: 0 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.card {
	position: relative;
	margin-top: 50px;
}
.bg-box {
	position: relative;
}
.bg-box span {
	position: absolute;
	left: 84px;
	bottom: -13px;
	width: 35px;
	height: 35px;
	border-radius: 100%;
}
.place-img {
	width: 190px;
	height: 190px;
	border-radius: 150px 150px 0 0;
}
.place-title {
	font-family: 'Great Vibes', cursive;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	margin-top: 50px;
}
.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
	padding: 0 2px;
	position: relative;
}
.info span svg {
	width: 20px;
	height: 20px;
}
.span-text {
	padding-top: 2px;
}
.info span {
	display: flex;
}
