@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Great+Vibes&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Comfortaa', sans-serif;
	background: #daedf2;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	min-height: 110vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
