.notfound {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
.notfound h1 {
	font-size: 72px;
	font-weight: 400;
}
.notfound a {
	margin-top: 45px;
	color: rgb(81, 81, 81);
	font-size: 32px;
	font-weight: 500;
}
